<?php
require_once "fixurl.php";

# Variables de configuracion de FileBeam. Pronto habrán mas funciones y variables de configuracion

$type = "prod"; # prod / dev
$domain = "files.filebeam.xyz"; # Dominio para generar una URL correctamente
$uri = $domain . $_SERVER['REQUEST_URI']; # URI generado automaticamente para el funcionamiento de la pagina.
$uri = sanitize($uri, $type);
$uploadFileDir = 'file/'; # Directorio donde va a ser alojado el archivo
$maintenance = false; # Modo mantenimiento